.detailSection {
  border: 1px saddlebrown solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.detailSection .breadcrumb a {
  display: inline-block;
  padding: 0.5rem;
}
.detailSection .breadcrumb a::after {
  content: ">";
  padding: 0 0.5rem;
}
.detailSection > div {
  width: 100%;
  border: 1px solid red;
  margin-top: 2rem;
}
.detailSection .bigImg,
.detailSection .detailCon {
  width: calc(50% - 1rem);
}

